* {
    box-sizing: border-box;
}
:root{
	--white: #cecaca; 
	--black: #202020;
	--s_white: #f9f9f9;
	--active_btn: #298229;
	--active_black: #292828;
	--blue: #00294f;
	--l_blue: #03a9f4;
	--red: #d23030;
	--blue_b: #282d4c; 
	--radius: 10px;
	--l_dark: #1d1d1d; 
	--l_dark2: #191919;
	--dark: #121212;
	--l_txt_clr: #f2f2f2; 
	--txt_clr: #eee;
}
body {
    margin: 0; 
    padding: 0;
    background-color: var(--dark);
}
@media screen and (max-width: 475px){
	.mi_box{
		width: 95%  !important;
	}
}
.red {
	color: var(--red);
}
.mi_box {
	position: fixed;
	background-color: var(--l_dark);
	top: 50%; 
	left: 50%; 
	transform:  translate(-50%, -50%);
	width: 500px;
	height: 90vh;
	display: flex;
	flex-direction: column;
}
.mi_box .mi_title .title{
	width: 100%;
	padding: 10px;
	text-align: left; 
	margin: 0; 
	color: var(--txt_clr); 
	font-size: 30px;
	font-weight: 600;
}
.mi_box .mi_title .title .menu{
	cursor: pointer; 
	font-size: 25px;
	float: right;
}
.mi_box .main_chats{
	flex: 100%;
	overflow-y: auto;
}
.mi_box .main_chats .chats{
	display: flex;
	flex-direction: column;
	padding: 0 10px;
}
.mi_box .main_chats .chats .receive{
	margin-top: 5px;
}
.mi_box .main_chats .chats .receive .receive_chat{
	background-color: #31383c;
	max-width: 85%;
	padding: 10px;
	border-radius: 10px;
	color: var(--txt_clr);
	word-break: break-all;
	float: left;
	border-top-left-radius: 0;
}
.mi_box .main_chats .chats .sent{
	margin-top: 5px;
}
.mi_box .main_chats .chats .sent .sent_chat{
	background-color: #131313;
	max-width: 85%;
	float: right;
	text-align: right;
	padding: 10px;
	border-radius: 10px;
	color: var(--txt_clr);
	word-break: break-all;
	border-bottom-right-radius: 0;
}
.mi_box .form .chat .mi_inpt_main {
	margin-bottom: 0;
	display: flex;
}
.mi_box .form .chat .mi_inpt_main .add{
	cursor: pointer; 
	padding: 10px;
	background-color: var(--active_btn);
	padding: 10px;
	color: var(--txt_clr);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 15px;
}
.mi_box .form .chat .mi_inpt_main .mi_inpt {
	flex: 100%;
	background-color: unset;
	padding: 5px; 
	margin-bottom: 0;
	border-radius: 0;
	border-right: 1px;
	border-right-color: unset;
	border-left: 1px;
	border-left-color: unset;
	color: var(--txt_clr);
}
.mi_box .form .chat .mi_inpt_main .mi_btn {
	padding: 5px;
	width: 50px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}