* {
    box-sizing: border-box;
} 
:root{
	--white: #cecaca; 
	--black: #202020;
	--s_white: #f9f9f9;
	--active_btn: #298229;
	--active_black: #292828;
	--blue: #00294f;
	--l_blue: #03a9f4;
	--red: #d23030;
	--blue_b: #282d4c; 
	--radius: 10px;
	--l_dark: #1d1d1d; 
	--l_dark2: #191919;
	--dark: #121212;
	--l_txt_clr: #f2f2f2; 
	--txt_clr: #eee;
}
body {
    margin: 0; 
    padding: 0;
    background-color: var(--dark);
}
@media screen and (max-width: 475px){
	.mi_box{
		width: 95%  !important;
	}
}
.mi_box {
	position: fixed;
	background-color: var(--l_dark);
	top: 50%; 
	left: 50%; 
	transform:  translate(-50%, -50%);
	width: 500px;
    padding: 20px;
}
.mi_box .data .mi_inpt_main .mi_inpt {
    background-color: unset;
	padding: 10px; 
	color: var(--txt_clr);
    margin-bottom: 15px;
}
.mi_box .data .mi_inpt_main {
    padding: 10px;
}
.mi_box .rooms {
    padding: 10px;
}
.mi_box .rooms .mi_btn{
    text-align: left;
    margin-bottom: 5px;
    color: var(--black);
}
.mi_box .rooms .mi_btn span {
    float: right;
}
.mi_box .rm {
    display: none;
    max-height: 90vh;
    overflow-x: auto;
}
.mi_box .rm .usr{
    text-align: center;
    color: var(--txt_clr); 
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}