/*custom styles*/
.mi_inpt_main{
  width: 100%;
  margin-bottom: 4px;
}
.mi_inpt{
  width: 100%;  
  border: 1px solid #dddfe2; 
  border-radius: 5px; 
  font-size: 13pt; 
  padding: 9px; 
  font-weight: 700;
  outline: none;
  resize: none;
  margin-bottom: 5px;
}
.mi_box{
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);
  border: none; 
  border-radius: 10px; 
  margin-bottom: 10px;
}
.mi_btn{
  padding: 9px; 
  cursor: pointer; 
  font-weight: 700; 
  color: #f2f2f2; 
  outline: none; 
  border: none;
  background-color: #0078d7;
  font-size: 13pt; 
  border-radius: 5px;
  width: 100%;
}
.selected{
  border: var(--brdr);
}
.disabled {
  opacity: 0.7; 
  pointer-events: none;
}
.error{
  background: var(--red) !important;
}
.hidden{
  display: none;
}
.err{
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 12.5pt;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;
}
.active{
  color: #eae9e6;
}
/*end of custom styles*/