<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#7e22ce">
    <title>MiChat</title>
    <%- include('cdn/home') %>
    <link rel="stylesheet" href="/css/tailwindcss/tailwindcss.css">
</head>
<body class="bg-truegray-200 h-screen xsm:min-w-[300px]">
    <div class="container h-full">
        <div class="trasition-all z-10 fixed px-1 py-3 bg-white h-full shadow-2xl md:max-h-14 md:w-full md:bottom-0 md:py-0">
            <div class="flex flex-col gap-4 justify-center items-center h-full md:flex-row md:gap-8 xsm:gap-3 transition-all">
                <a href="#" class="rpl p-2 rounded-md text-3xl md:text-2xl text-purple-600 cursor-pointer">
                    <i class="fad fa-home"></i>
                </a>
                <a href="#" class="rpl p-2 rounded-md text-3xl md:text-2xl text-purple-600 cursor-pointer">
                    <i class="fad fa-users"></i>
                </a>
                <a href="#" class="rpl p-2 rounded-xl text-3xl md:text-2xl text-purple-600 cursor-pointer">
                    <i class="fas fa-plus-circle"></i>
                </a>
                <a href="#" class="rpl p-2 rounded-md text-3xl md:text-2xl text-purple-600 cursor-pointer">
                    <i class="fad fa-search"></i>
                </a>
                <a href="#" class="rpl p-2 rounded-md text-3xl md:text-2xl text-purple-600 cursor-pointer">
                    <i class="fad fa-user"></i>
                </a>
            </div>
        </div>
        <div class="h-screen ml-24 md:ml-0 md:h-[92vh]">
           <div class="w-96 h-full md:w-full md:flex md:justify-center md:h-[99%] xsm:w-full">
                <div class="py-8 w-96 h-full md:py-2 xsm:w-full xsm:py-0">
                    <div class="w-full h-full">
                        <div class="mi_chat_post swiper-container h-full">
                            <div class="swiper-wrapper">
                            <% for( let i = 1; i < 6; i++ ) { %>
                                <div class="swiper-slide bg-purple-500/40 shadow-xl rounded-xl xsm:rounded-none xsm:shadow-none">
                                    <div class="w-full h-full">
                                        <video src="/assets/sample.mp4" controls class="rounded-xl xsm:rounded-none h-full w-full"></video>
                                    </div>
                                </div>
                            <% } %>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <script src="/js/ripple.js"></script>
    <script>
        const swiper = new Swiper(".mi_chat_post", {
            direction: 'vertical',
            spaceBetween: 10,
            slidesPerView: 1,
            mousewheel: true,
            grabCursor: true,
        })
        swiper.on('reachEnd', function () {
            console.log('last slide');
        })
        swiper.on('slideChange', function (e) {
            console.log(e);
        })
    </script>
</body>
</html>