<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#7e22ce">
        <title>MiChat</title>
        <link rel="stylesheet" href="/css/tailwindcss/tailwindcss.css">
        <%- include('cdn/home') %>
    </head>
    <body>
        <div class="fixed w-full h-full right-0 top-0 left-0 bottom-0 bg-purple-300">
            <div class="h-[calc(100%-56px)]">
                <michat-posts class="block overflow-y-auto h-full">
                    <div class="swiper-container post h-full">
                        <div class="swiper-wrapper">
                          <% for( let i = 0; i < 10; i++ ) { %>
                            <div class="post<%-i%>  swiper-slide h-full">
                                <video data-setup="{}" controls preload="auto" controls class="video-js vjs-theme-fantasy w-full h-full sm:object-fill">
                                    <source src="/assets/sample.mp4">
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a
                                        web browser that
                                        <a href="https://videojs.com/html5-video-support/" target="_blank"
                                          >supports HTML5 video</a
                                        >
                                      </p>
                                </video>
                            </div>
                          <% } %>
                        </div>
                    </div>
                </michat-posts>
            </div>
            <div class="trasition-all shadow-xl bg-gray-50 h-[56px] w-full">
                <div class="flex flex-row gap-48 xl:gap-20 md:gap-10 sm:gap-7 xsm:gap-6 xxsm:gap-4 justify-center items-center h-full transition-all">
                    <a href="#" class="rpl p-2  rounded-md text-3xl md:text-2xl text-purple-600 cursor-pointer">
                        <i class="fad fa-home"></i>
                    </a>
                    <a href="#" class="rpl p-2 rounded-md text-3xl md:text-2xl text-purple-600 cursor-pointer">
                        <i class="fad fa-users"></i>
                    </a>
                    <a href="#" class="rpl p-2 rounded-xl text-3xl md:text-2xl text-purple-600 cursor-pointer">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                    <a href="#" class="rpl p-2 rounded-md text-3xl md:text-2xl text-purple-600 cursor-pointer">
                        <i class="fad fa-search"></i>
                    </a>
                    <a href="#" class="rpl p-2 rounded-md text-3xl md:text-2xl text-purple-600 cursor-pointer">
                        <i class="fad fa-user"></i>
                    </a>
                </div>
            </div>
        </div>
        <script src="/js/ripple.js"></script>
        <script src="/js/home.js"></script>
        <script src="/js/slider.js"></script>
    </body>
</html>